/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root {
    --primary-color: #736CDA;          
    --secondary-color: #1E1961;       
    --tertiary-color: #18154d;        
    --accent-color: #F5F4FF;           
    --gray-titles: #B1ADEA;           
    --expense-color: #938DE2;          
    --card-borders: #938de250;
    --card-background: #ffffff08;
    --primary-color-opacity: #736cda40;
    --primary-hover: #5e55b8;
    --secondary-hover: #1E1961;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

    display: grid;

    /* 2 colunas:
       180px fixa para sidebar
       1fr ocupa o restante */
    grid-template-columns: 200px 1fr;

    /* 3 linhas:
       header
       main (flexível)
       footer */
    grid-template-rows: auto 1fr auto;

    /* Nomeando as áreas */
    grid-template-areas:
        "sidebar header"
        "sidebar main"
        "sidebar footer";
}

/* ========================= */
/* DEFININDO CADA ÁREA */
/* ========================= */

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 1500;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}


.sidebar {
    grid-area: sidebar;
    background-color: var(--tertiary-color);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: var(--accent-color);
    font-family: cursive, sans-serif;
}

.financas {
    color: var(--primary-color);    
}

.first {
    background-color: var(--primary-color);
    padding: 8px;
    color: var(--secondary-color);
    border-radius: 8px;
}

.lista-de-servicos {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.containers-services {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.menu-itens {
    list-style-type: none;
    font-size: 14px;
}

.header {
    grid-area: header;
    background-color: var(--secondary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.calendario { 
    color: var(--accent-color);
    font-size: 12px;
    padding: 8px 16px;
    background-color: var(--card-background);
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
}

.titulo {
    color: var(--accent-color);
}

.subtitle {
    color: var(--gray-titles);
    font-size: 12px;
}

.exportar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main {
    grid-area: main;
    padding: 40px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 48px; 
    align-items: center; 
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
    max-width: 1200px; 
}

.transacoes {
    display: grid;
    grid-template-columns: 350px 1fr; 
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    align-items: start;
}

.nova-transacao {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--card-borders);
}

.card {
    border: 1px solid var(--card-borders);
    border-radius: 12px;
    padding: 24px;
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titulo-card {
    color: var(--gray-titles);
    font-size: 14px;
}

.receita-valor, .balanco-total {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: bold;
    margin-top: 4px;
}

.despesas-valor{
    color: var(--expense-color);
    font-size: 18px;
    font-weight: bold;
    margin-top: 4px;

}

.positivo {
    color: var(--primary-color);
}

.negativo {
    color: var(--expense-color);
}

.informacao {
    color: var(--primary-color);
    font-size: 12px;
    margin-top: 8px;
}

.titulo-nova-transacao-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.titulo-nova-transacao {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: bold;
}

.nova-transacao-icon {
    color: var(--primary-color);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}

.form-container {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-container label {
    color: var(--gray-titles);
    font-size: 12px;
}

.form-container input, .form-container select, .description-form input {
    padding: 8px;
    border: 1px solid var(--card-borders);
    border-radius: 4px;
    background-color: transparent;
    color: var(--accent-color);
}

.description-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.qtd-tipo-transacao-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.qtd-container, .tipo-transacao-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    min-width: 0;
}

#tipo-transacao {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid var(--card-borders);
    color: var(--accent-color); 
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

#tipo-transacao option {
    color: var(--secondary-color); 
    background-color: var(--card-background); 
}

.categoria-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 8px;
}

.categorias {
    color: var(--accent-color);
    font-size: 12px;
    padding: 12px;
    border: 1px solid var(--card-borders);
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
}

.categorias:hover {
    transform: translateY(-3px);
    text-shadow: 2px 2px 4px rgba(102, 45, 144, 0.3);
    background-color: var(--primary-hover);
    color: var(--accent-color);
}

.categorias.ativa{
    background-color: var(--primary-color);
    color: white;
}

.adiciona-historia {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
}
.nova-transacao-icon{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
}

.nova-transacao-icon:hover{
    transform: translateY(-3px);
    text-shadow: 2px 2px 4px rgba(102, 45, 144, 0.3);
    background-color: var(--primary-hover);
    color: var(--accent-color);
}
    

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}

.adiciona-historia:hover{
    transform: translateY(-3px);
    text-shadow: 2px 2px 4px rgba(102, 45, 144, 0.3);
    background-color: var(--primary-hover);
    color: var(--accent-color);
}

.titulo-historico-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;    
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;   
}

.sub-titulo-historico {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.cabecalho-tabela {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    padding: 10px 20px;
    color: var(--gray-titles);
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
}

.lista-transacoes {
    list-style: none;      
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;            
    width: 100%;
    max-width: 1200px;
}

.transacao-Item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.1fr;
    align-items: center;
    background-color: var(--card-background);
    border: 1px solid var(--card-borders);
    border-radius: 8px;
    padding: 12px 20px;
    margin-bottom: 12px;
    color: var(--accent-color);
}

.transacao-Item:hover {
    transform: translateY(-3px);
    text-shadow: 2px 2px 4px var(--tertiary-color);
    background-color: var(--primary-hover);
}

.botao-apagar {
    background: none;
    border: none;
    color: var(--accent-color);
    font-size: 16px;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
    transition: 0.2s ease;
}

.botao-apagar:hover{
    transform: translateY(-3px);
    text-shadow: 2px 2px 4px var(--tertiary-color);
    background-color: var(--secondary-hover);
}

.info-transacao {
    display: flex;
    align-items: center;
    gap: 12px;
}

.historico {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    padding: 24px;
    border-radius: 12px;
    border: 1px solid var(--card-borders);
    width: 100%;

}

.caixa-icone {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color); 
}

.real-icon {
    font-size: 14px;   
}

.nome-transacao {
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 500;
}

.etiqueta {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 8px;
    font-weight: bold;
    display: inline-block;
    background-color: var(--tertiary-color);
}

.etiqueta-receita { color: var(--primary-color); }
.etiqueta-despesa { color: var(--expense-color); }

.data-transacao {
    color: var(--gray-titles);
    font-size: 12px;
}

.valor-transacao {
    font-weight: bold;
    text-align: right;
    font-size: 12px;
}

.rodape-tabela {
    text-align: center;
    margin-top: 20px;
}

.link-extrato {
    color: var(--gray-titles);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.link-extrato:hover {
    color: var(--accent-color);
}

/* POPUP */
.popup-transacao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: var(--secondary-color);
    padding: 30px 25px;
    border-radius: 12px;
    width: 350px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup-content h3 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--gray-titles);
}

.popup-content label {
    font-size: 0.9rem;
    color: var(--gray-titles);
}

.popup-content input {
    padding: 8px 10px;
    border: 1px solid var(--card-borders);
    background-color: transparent;
    color: var(--accent-color);
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border 0.2s;
}

.popup-content input:focus {
    border-color: var(--primary-color);
}

#popup-categoria {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid var(--card-borders);
    background-color: transparent;
    color: var(--accent-color);
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px;
}

#popup-categoria:hover,
#popup-categoria:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 6px var(--primary-color-opacity);
}

#popup-tipo {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid var(--card-borders);
    border-radius: 8px;
    background-color: transparent;
    color: var(--accent-color);
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px;
}

/* Botões dentro do popup */
.popup-content button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: var(--primary-color);
    color: var(--tertiary-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.popup-content button:hover {
    background: var(--primary-hover);
    color: var(--accent-color);
}


/* Botão sair */
#fechar-popup {
    background: var(--primary-color);
    margin-top: 5px;
}

#fechar-popup:hover {
    background: var(--primary-hover);
}

.footer {
    grid-area: footer;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-weight: 500;
    padding: 15px;
    text-align: center;
}


/* Responsivo mobile: */

/* ========================= */
/* RESPONSIVO - MOBILE */
/* ========================= */
@media (max-width: 1300px) {

    
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .hamburger {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 220px;
        height: 100%;
        z-index: 2000;
        transition: left 0.3s ease;
    }

    .sidebar.active {
        left: 0;
    }

    
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .header-actions {
        width: 100%;
        justify-content: space-between;
    }

    
    .main {
        padding: 20px;
    }
    
    .transacoes {
        grid-template-columns: 1fr;
    }

   
    .qtd-tipo-transacao-container {
        flex-direction: column;
    }

    .cabecalho-tabela {
        grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
        font-size: 10px;
        gap: 2%;
        display: flex;
        justify-content: space-around;
    }

    .transacao-Item {
        grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.1fr;
        padding: 10px;
        font-size: 12px;
        display: flex;
        justify-content: space-around;
    }

    .valor-transacao {
        text-align: left;
    }
}

@media (max-width: 600px) {

    .cards-container {
        grid-template-columns: 1fr;
    }
}